@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto Slab', serif; */

:root{
    --blue: #5163D3;
    --white: #FFFFFF;
    --light-blue: #D7E4FB;
    --light-gray: #F9F9F9;
    --gray: #EEEEEE;
    --black: #1B1C1E;
}

body{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

header{
    background-color: var(--blue);
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
}

nav{
    max-width: 1400px;
    width: 100%;
    margin: 50px auto 20px auto;
    display: flex;
    gap: 20px;
}

nav button{
    background-color: transparent;
    border: 2px solid var(--blue);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
}

nav .selected{
    background-color: var(--blue);
    color: var(--black);
}

nav .selected:hover{
    color: var(--white);
}

nav button:hover{
    background-color: var(--blue);
    color: var(--white);
}

main{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.card{
    width: fit-content;
    border: 2px solid var(--blue);
    border-radius: 8px;
    padding-bottom: 10px;
}

.card h2{
    background-color: var(--blue);
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.card h3{
    margin-top: 5px;
    padding-left: 10px;
    font-weight: bold;
}

.card .card__info{
    margin-top: 5px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}